/* start varibales */
:root {
    --MainColor:#10cab7;
    --secondaryColor:#2c4755;
    --sectionPadding:60px;
    --descColor:#777;
}
/* end varibales */


/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:'Work Sans', sans-serif;
}
.header {
    background-color: #ddd;
    height: 64px;
}
.container {
    margin: auto;
    background-color: transparent;
    position: relative;
    
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
}

/* small */


@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/* meduim */


@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large */


@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end golobal rules */

/* start components */
.special-heading {
    margin: 0;
    font-size: 100px;
    color: #ebeced;
    font-weight: bold;
    text-align: center;
    letter-spacing: -3px;
}
.special-heading + p {
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
@media (max-width:767px) {
    .special-heading {
        font-size:60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* end components */

/* start header */
.header {
    padding: 20px;
    background-color: #f6f6f6;
    
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.header .links {
    position: relative;
    height: 42px;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}
.header .links .icon span:last-child {
    width: 100%;
}

.links:hover .icon span:nth-child(2) {
    width: 100%;
}



 

.header .links:hover ul {
    display: block;
    z-index: 1;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + -10px);
    display: none;
}
.header .links ul::before {
    content: "";
    position: absolute;
    background-color: transparent;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -20px;
}
.links ul li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}
.links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: #ddd solid 1px;
}
/* end header */

/* start landing section */
.landing {
    background-image: url(../images/pexels-belvair-nash-464165.jpg);
    background-size: cover;
    height:calc(100vh - 64px);
    position: relative;

}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.landing .intro-text h1 {
    margin: 0;
    color: var(--MainColor);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: white;
}
/* end landing section */

/* start feature */
.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.feature .container {
    grid-gap: 20px;
}
.feature .container .feat h3 {
    font-weight: 800;
}
.feature .container .feat p {
    line-height: 1.8;
    color: var(--descColor);
    font-size: 20px;
}
.feature .container .feat {
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 15px 0 #777;
}
.feature .container .feat i {
    font-size: 50px;
    color: var(--MainColor);
    grid-area: 1 / 1 / 2 / 2;
}
/*end feature */
/* start services */
.services {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.services .services-content {
    grid-gap: 30px;
    margin-top: 100px;
}
.services .container .services-content .col .sev h3 {
    margin: 0 0 20px ;
    font-weight: 800;
}
.services .container .services-content .col .sev p {
    font-weight: 300;
    color: var(--descColor);
    line-height: 1.6;
}
.services .container .services-content .col .sev i {
    color: var(--MainColor);
    flex-basis: 60px;
}
.services .container .services-content .col .sev {
    display: flex;
    margin-top: 50px;
    text-transform: capitalize;
}
@media (max-width:767px) {
    .services .container .services-content .col .sev {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:1199px) {
    .image-column {
        display:none;
    }
}
.services .container .services-content .col .image {
    margin-top: 50px;
    position: relative;
    text-align: center;
}
.services .container .services-content .col .image img {
    position: absolute;
    right: 0;
}

.services .container .services-content .col .image::before {
    content: "";
    position: absolute;
    height: 300px;
    top: -50px;
    right: -40px;
    background-color: var(--secondaryColor);
    width: 80px;
    /* z-index: ; */
}

.services .container .services-content .col .sev .text {
    flex: 1;
}

/* end services */
/* start portfolio */
.portfolio {
    background-color: #f6f6f6;
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.portfolio .container .portfolio-content {
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .container .portfolio-content .col {
   
    background: white;
}
.portfolio .container .portfolio-content .col .image img {
    width: 100%;   
    height: 230px; 
}
.portfolio .container .portfolio-content .text {
    text-transform: capitalize;
    padding: 20px;
}
.portfolio .container .portfolio-content .text h3 {
    margin:0;
}
.portfolio .container .portfolio-content .text p {
    line-height: 1.6;
    color: var(--descColor);
    margin: 0%;
}
/* end portfolio */
/* start about section */
.about {
    padding-top: var(--sectionPadding);
    padding-bottom: calc(var(--sectionPadding) + 60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    max-width: 100%;
    height: 375px;
}
@media ( max-width:991px) {
    .about .about-content .image {
        margin: 0 auto ;
        margin-bottom: var(--sectionPadding);
    }
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    background-color: #ebeced;
    z-index: -1;
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: #10cab7 80px solid;
    border-bottom: #10cab7 80px solid;
    right: -150px;
    top: -40px;
    z-index: -1;
}
@media (max-width:991px) {
    .about .about-content .image::before , 
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    line-height: 2;
    font-weight: bold;
    margin-bottom: 50px;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    font-weight: 300;
    margin-top: 50px;
    color: #777;
}
.about .about-content .text hr {
    width: 50%;
    border-color: var(--MainColor);
    display: inline-block;
}


/* end about section */
/* start contact section */
.contact {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background: #f6f6f6;
}
.contact .container .info {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    text-transform: capitalize;
    text-align: center;
}
.contact .container .info .label {
    font-size: 35px;
    color: var(--secondaryColor);
    font-weight: 800;
    margin-bottom: 15px;
}
.contact .container .info .link {
    display: block;
    text-decoration: none;
    letter-spacing: -2px;
    font-size: 35px;
    color: var(--MainColor);
    font-weight: 800;
}
.contact .container .info .social {
    margin: 20px 0 0 ;
    display: flex;
    justify-content: center;
}
.contact .container .info .social i {
    color: var(--secondaryColor);
    margin-right: 5px;
    margin-left: 5px;
}
@media (max-width:767px) {
    .contact .container .info .label {
        font-size: 25px;
    }
    .contact .container .info .link {
        font-size: 25px;
    }
}
/* end contact section */
/* start footer */
.footer {
    background: var(--secondaryColor);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.footer  span {
    color: var(--MainColor);
}
@media (max-width:767px) {
    .footer {
        font-weight: 500;
        font-size:14px;
    }
}
/* end footer */
